@font-face {
  font-family: 'HoneskMd';
  src: url('../fonts/honesk-md.eot');
  src: url('../fonts/honesk-md.eot?#iefix') format('embedded-opentype'), url('../fonts/honesk-md.woff') format('woff'), url('../fonts/honesk-md.ttf') format('truetype'), url('../fonts/honesk-md.svg#HoneskMd') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  outline: 0;
}



$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 3;



html,body{ 
  margin:0;
}

canvas{
	display:block;
	vertical-align:bottom;
}

.background-particle {
  height:100%;
  background:#111;
  position: relative;
}

.sidebar {
  width: 80px;
  background: #38C2A2;
  height: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.96;
}




/* Blog item */


#filters li {
  pointer-events: all;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 6px;
}

#filters li a {
  font-size: 13.5px;
  border-radius: 27px;
  padding: 5px 15px;
  margin-right: 5px;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(.55,0,.1,1);
  font-weight: bold;
  letter-spacing: 0.03em;
}

#filters li:hover a,
#filters li.active a {
  background: #eee;
  color: #2d2d2d;
}

/* tags */

.list-tags li {
  font-size: 9px;
border-radius: 27px;
padding: 0px 0px;
margin-right: 6px;
margin-top: 3px;
margin-bottom: 3px;
text-transform: uppercase;
-webkit-transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
font-weight: bold;
background: #999;
color: #fff;
}


#filters li.filter-portfolio.active a,
#filters li.filter-portfolio:hover a,
.list-tags li.portfolio {
  background: #009688;
  color: #fff;
}

#filters li.filter-blog.active a,
#filters li.filter-blog:hover a,
.list-tags li.blog {
  background: #607D8B;
  color: #fff;
}


#filters li.filter-neuroscience.active a,
#filters li.filter-neuroscience:hover a,
.list-tags li.neuroscience {
  background: #E91E63;
  color: #fff;
}

#filters li.filter-consciousness.active a,
#filters li.filter-consciousness:hover a,
.list-tags li.consciousness {
  background: #9C27B0;
  color: #fff;
}

#filters li.filter-robotics.active a,
#filters li.filter-robotics:hover a,
.list-tags li.robotics {
  background: #3F51B5;
  color: #fff;
}

#filters li.filter-math.active a,
#filters li.filter-math:hover a,
.list-tags li.math {
  background: #8BC34A;
  color: #fff;
}

#filters li.filter-artificial-intelligence.active a,
#filters li.filter-artificial-intelligence:hover a,
.list-tags li.artificial-intelligence {
  background: #FF9800;
  color: #fff;
}

#filters li.filter-physic.active a,
#filters li.filter-physic:hover a,
.list-tags li.physic {
  background: #2196F3;
  color: #fff;
}

#filters li.filter-ted.active a,
#filters li.filter-ted:hover a,
.list-tags li.ted {
  background: #F44336;
  color: #fff;
}

#filters li.filter-design.active a,
#filters li.filter-design:hover a,
.list-tags li.design {
  background: #795548;
  color: #fff;
}


.blog .blog-item {
  background: #fff;
  margin-bottom: 40px;
  border-bottom: 5px solid #ccc;
  display: block;
  pointer-events: all;
}

.blog .blog-item .blog-content {
  color: #7C7C7C;
  padding: 25px 45px;
  font-size: 13px;
  line-height: 1.5em;
  font-family: 'Open Sans';
  font-weight: 400;
   min-height: 340px;
}

.blog .blog-item .blog-image {
  width: 100%;
  box-sizing: border-box;
  background: #111;
  overflow: hidden;
}

.blog .blog-item .blog-image .image-experiment0 {
  width: 100%;
  height: 200px;
  background: #0DA185;
  padding-top: 50px;
  text-align: center;
}

.blog .blog-item .blog-image .image {
  width: 100%;
  height: 200px;
 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  
  transition: all 0.4s cubic-bezier(.55,0,.1,1);
}


.blog .blog-item:hover .blog-image .image {
  transform: scale(1.12);

}


.blog-content h2 {
  line-height: 0.9em;
}


.blog-content h2 a {
  color: #2d2d2d;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1em;
}


.blog-content p {
  margin-top: 12px;
  margin-bottom: 12px;
}



.blog-content .description {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


body,
html {
  background: #111;
  color: #fff;
  height: 100%;
}
body {
  font-family: 'Proxima Nova', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}
a {
  color: #ddd;
}
a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.6s;
}


/* Helpers */
.white {
  color: #FFF;
}
.black {
  color: #404242;
}

.bg-turquaise {
  background: #1BBC9B;
}
.bg-white {
  background: #FFF;
}

.top-md {
  padding-top: 25px;
}


.top-lg {
  padding-top: 50px;
}


.top-xl {
  padding-top: 90px;
}

.bottom-sm {
  padding-bottom: 15px;
}

.bottom-md {
  padding-bottom: 25px;
}

.bottom-lg {
  padding-bottom: 50px;
}

.bottom-xl {
  padding-bottom: 90px;
}


.left-md {
  padding-left: 5%;
}
.right-md {
  padding-right: 5%;
}
.bottom-md {
  padding-bottom: 5%;
}

.boxed-white {
  background: transparent;
  border: 8px solid #E3E3E3;
  border-radius: 0;
}
.spaced {
  margin: 50px 0;
}
.no-padding {
  padding: 0;
}
.margin-top-md {
  margin-top: 10%;
}

.top-200 {
  margin-top: 200px;
}

.uppercase {
  text-transform: uppercase;
}
.text-xl {
  font-size: 5.3em;
  letter-spacing: 0.02em;
  line-height: 1.15em;
  word-spacing: 0.01em;
  padding-bottom: 20px;
}
.text-xl b {
  padding-right: 0.15em;
}
.text-md {
  font-size: 2.2em;
  font-weight: 100;
  letter-spacing: 0.03em;
  line-height: 1.4em;
  word-spacing: 0.03em;
}
.text-xm {
  font-size: 1.4em;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  word-spacing: 0.01em;
}

/* Overwrite */

.well {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #0C0C0C;
}

/* wrapper */

#canvas-wrap{
  -webkit-transition: -webkit-transform 0.4s ease-out;
}
#canvas-wrap.menu-open {
  -webkit-transform: translateX(60px);
}

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.wrap.wrap820 {
  height: 820px;
}
.wrap.wrap780 {
  height: 780px;
}
.wrap.wrap680 {
  height: 680px;
}
.wrap.wrap480 {
  height: 480px;
}
.wrap.wrap320 {
  height: 320px;
}
.wrap .layer {
  position: absolute;
  width: 100%;
}
.layer-1100 {
  height: 1100px
}
.layer-480 {
  height: 480px
}
.layer-680 {
  height: 680px
}
.top-5 {
  padding-top: 5%;
}
.top-middle {
  top: 30%;
  padding: 0 10%;
}
.opacity-5 {
  opacity: 0.55;
}
.container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}
.box-back {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  padding: 24px;
  font-weight: 700;
}
.social-icons a {
  font-size: 6em;
  padding: 0.3em;
}
.list-inline > li {
  padding-left: 12px;
  padding-right: 12px;
}
.container-full {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: table;
  pointer-events: none;
}
.box-center {
  display: table-cell;
  vertical-align: middle;
}

.container-full h1 {
  font-size: 4em;
  pointer-events: none;
  margin: 0;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}
.container-full h1 span {
  font-size: 0.72em;
  font-weight: 200;
  display: block;
  padding: 4px;
  pointer-events: none;
}
.btn-explore {
  font-size: 18px;
  margin-top: 13px;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}
.btn-explore:hover {
  background-color: #fff;
  color: #000;
}
/* Video js responsive fix*/

.video-js .vjs-tech {
  height: auto !important;
}
/* Pace */

.pace .pace-progress {
  background: rgb(255, 255, 255);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

/* Container Arrow */
.container-arrow-primary:before {
border-top: 30px solid #000;
}
.container-arrow:before {
display: block;
content: "";
width: 80px;
border-left: 40px solid rgba(0,0,0,0);
border-right: 40px solid rgba(0,0,0,0);
border-bottom: none;
margin: 0 auto;
position: absolute;
left: 0;
right: 0;
}


/* Footer */

.footer-text {
  font-size: 15px;
}



/* Folio */


@media only screen and (max-width: 480px) {
 .background-particle {
   display: none;
 }
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}
@media only screen and (max-width: 767px) {
  /* phones */
  #canvas-wrap canvas {
    display: none;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .container-full h1 {
    font-size: 30px;
  }
  .container-full h1 span {
    font-size: 30px;
    font-weight: 200;
  }
}


/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 99;
}

svg {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -60px;
}

path {
  stroke: cyan;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 193.904983521;
  fill: none;
  -webkit-animation: load 4s linear infinite, color 3s linear infinite;
  animation: load 4s linear infinite, color 3s linear infinite;
}

@-webkit-keyframes load {
  from {
    stroke-dashoffset: 775.6199340820312;
  }
}

@keyframes load {
  from {
    stroke-dashoffset: 775.6199340820312;
  }
}
@-webkit-keyframes color {
  33% {
    stroke: yellow;
  }

  66% {
    stroke: magenta;
  }
}
@keyframes color {
  33% {
    stroke: yellow;
  }

  66% {
    stroke: magenta;
  }
}


/* menu */

.side-menu {
  position: fixed;
  left: -50px;
  height: 100%;
  width: 160px;
  background: #fff;
  z-index: 1;
}

$background: #3d566e;
$color: #ecf0f1;
$color-active: #000;

$height-icon: 16px;
$width-line: 26px;
$height-line: 3px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

#hamburger-icon {
  position: fixed;
  top: 40px;
  left: 34px;
  z-index: 10;
  width:$width-line;
  height:$height-icon;
  display:block;
  .line {
    display:block;
    background:$color;
    width:$width-line;
    height:$height-line;
    position:absolute;
    left:0;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    
    &.line-1 {
      top:0;
    }
    &.line-2 {
      top:50%;
    }
    &.line-3 {
      top:100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($height-line / 2 * -1);
        -webkit-transform: translateY($height-line / 2 * -1);
        -moz-transform: translateY($height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($height-line / 2);
        -webkit-transform: translateY($height-line / 2);
        -moz-transform: translateY($height-line / 2);
    }  
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}

#hamburger-icon.active>.line{
  background:$color-active !important;
}