@@include('./layout/header.html', {
"title": "Luca Dimola - Brain"
})

  <div class="container-fluid">
    
    <!-- intro -->
    <div class="row">
      <div class="col-sm-7 left-md">
        <h1 class="text-xl uppercase top-200">How can a jelly contemplate the <b>meaning</b> of infinity?</h1>
        <p class="text-md">
          Arms, legs, eyes, lungs, kidneys - our body is made of cells.
          <br>But, unlike other organs, cells in the brain can <b>connect</b>each other and <b>process information</b>.
          <br>The resulting network made up of thousands cables and trillion connections is called <b>connectome</b> and gives rise to sight, smell, touch, hearing, memory and consciousness.
          <br>
          <br>
          <b>We are our connettome</b>, and its damage or corruption may change our capabilities and peculiarities.
        </p>
        <div class="well boxed-white text-md margin-top-md">
          <ul class="list-unstyled text-xm">
            <li><b>~90mlrd</b> Neurons</li>
            <li><b>~1000trln</b> Connections</li>
            <li><b>~1000 Connections/Neuron</b></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5 text-right no-padding">
        <div class="wrap wrap820">
          <div class="layer" data-stellar-ratio="0.8">
            <img class="img-responsive pull-right" src="assets/img/brain/dti-connectome-1.png " alt="DTI">
          </div>
        </div>
      </div>
    </div>
  
    
    <!-- Clarity -->
    <div class="row top-5">
      <div class="col-md-4 left-md no-padding top-5">
        <div class="wrap wrap320">
          <div class="layer" data-stellar-ratio="1.1">
            <video id="zebrafish" class="video-js vjs-default-skin" controls autoplay loop preload="auto" >
              <source src="assets/img/brain/zebrafish.mp4" type='video/mp4' />
            </video>
          </div>
          <div class="layer text-md text-center" data-stellar-ratio="1.3" data-stellar-vertical-offset="-600">
            &copy; Video youtube attribution
          </div>
        </div>
      </div>
      <div class="col-md-8 right-md text-right">
        <h1 class="layer text-xl uppercase">FUNCTIONS, <b>MEMORIES.</b>
        </h1>
        <p class="text-md">
          The one on the left is the brain of a zebrafish, a tropical freshwater fish.<br>
          Those small electric shocks are real time brain activity while the fish is accomplishing tasks.<br>
          <br>
          Il cervello umano è molto più grande di quello di un zebrafish, ma l'attività dei neuroni è molto simile.
          Se il segnale elettrico è abbastanza forte, esso passa di cellula in cellula trasmettendo ed elaborando informazione.
          In alcuni punti del cervello i neuroni sono clustered in structures, agglomerati di cellule neurali che elaborano informazione in un modo specifico.
          Alcune di queste strutture salvano memorie, altri controllano i dati in ingresso per cercare fonti di pericolo, altri ancora controllano il movimento.
        </p>
      </div>
    </div>
  
    
    <!-- Brainbow -->
    <div class="row top-5">
      <div class="col-md-12 no-padding">
        <div class="wrap wrap680">
          <div class="layer layer680" data-stellar-ratio="1.05">
            <img src="assets/img/brain/brainbow-1.png" class="img-responsive opacity-5" alt="brainbow">
          </div>
           <h2 class="layer layer480 top-middle text-center text-xl" data-stellar-ratio="1.15">
             <b>Consciousness</b> is what you lose
              when you go to sleep, and magically
              cames back when you wake up.  
           </h2>
          </div>
      </div>
    </div>

  
    <!-- Consciousness -->
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h2 class="text-xl">CONSCIOUSNESS</h2>
        <p class="text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br>
  Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet.
        </p>
      </div>
    </div>
  
    
    <!-- X -->
    <div class="row top-5">
      <div class="col-md-6 left-md top-5">
        <h2 class="layer text-xl uppercase">FUNCTIONS,<br><b>MEMORIES.</b></h2>
        <p class="text-md">Lorem ipsum dolor sit amet, consectetur sunt lorem ipsum ipsum dolor sit amet, consectetur sunt lorem ipsum.
          <br>Dolor
          <b>sit amet</b>lorem sunt consectetur</b>
        </p>
      </div>
      <div class="col-md-6 right-md">
         <div class="wrap wrap480">
          <div class="layer layer480" data-stellar-ratio="1.15">
            <img src="assets/img/brain/clarity.png" alt="clarity method" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  
  
  </div>

@@include('./layout/footer.html')