@@include('./layout/header.html', {
"title": "Luca Dimola - Folio"
})


<div class="full-wrapper">
  <div id="particles-js" class="background-particle"></div>
  <div class="container-full" data-stellar-ratio="0.6" >
    <div class="box-center">
      <h1 id="main-text" class="text-center white">LUCA DIMOLA
        <span class="rotator">FRONTEND DEVELOPER - UI, UX DESIGNER - NEUROSCIENTIST</span>
      </h1>
    </div>
  </div>
</div>

<div class="container bottom-md top-md">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row blog">
                
        <div class="col-md-4 col-sm-4 col-xs-12 grid-sizer item">
          <div class="blog-item">
            <div class="blog-image">
              <img src="https://d262ilb51hltx0.cloudfront.net/max/2000/1*97UBHRVScWVd5k4oGCQW9Q.png" class="img-responsive">
            </div>
            <div class="blog-content">
              <h2><a href="https://medium.com/the-physics-arxiv-blog/first-simulated-images-of-two-black-holes-colliding-9be9cd5b8498">First Simulated Images of Two Black Holes Colliding</a></h2>
              <p>The equations of general relativity are so fiendish that nobody has been able to work out what a collision between two black holes would look like…until now</p>
              <div class="row">
                <div class="col-md-4">
                  <hr>
                </div>
              </div>
              <p class="date">3 Nov 2014</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12 item">
          <div class="blog-item">
            <div class="blog-image">
              <img src="http://neuro.plos.org/files/2014/10/chennu.jpg" class="img-responsive">
            </div>
            <div class="blog-content">
              <h2><a href="http://neuro.plos.org/2014/10/27/a-neuroscience-correlate-of-consciousness-neuroskeptic-talks-with-shivas-chennu-for-plos-neuro/">A Neuroscience Correlate of Consciousness</a></h2>
              <p>Neuroskeptic goes in-depth with Srivas Chennu</p>
              <div class="row">
                <div class="col-md-4">
                  <hr>
                </div>
              </div>
              <p class="date">27 Oct 2014</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12 item">
          <div class="blog-item">
            <div class="blog-image">
              <img src="https://pbs.twimg.com/media/B0bEciUIUAAY5sL.jpg:large" class="img-responsive">
            </div>
            <div class="blog-content">
              <h2><a href="http://www.theverge.com/2014/10/20/7024137/watch-a-self-driving-audi-become-the-fastest-autonomous-car-on-the-planet">Watch a self-driving Audi become 'the fastest autonomous car on the planet'</a></h2>
              <p>Audi put a big exclamation point on its self-driving technology — "piloted driving," as the company calls it — with an adrenaline-filled demonstration..</p>
              <div class="row">
                <div class="col-md-4">
                  <hr>
                </div>
              </div>
              <p class="date">20 Oct 2014</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12 item">
          <div class="blog-item">
            <div class="blog-image">
              <img src="http://img.scoop.it/mqa5ovM30jVgIG29vHulmjl72eJkfbmt4t8yenImKBVvK0kTmF0xjctABnaLJIm9" class="img-responsive">
            </div>
            <div class="blog-content">
              <h2><a href="http://www.theverge.com/2014/10/24/7056493/how-a-computer-error-helped-deep-blue-beat-humanitys-best-chess-player">How a computer error helped Deep Blue beat humanity's best chess player</a></h2>
              <p>When Deep Blue beat Garry Kasparov</p>
              <div class="row">
                <div class="col-md-4">
                  <hr>
                </div>
              </div>
              <p class="date">24 Oct 2014</p>
            </div>
          </div>
        </div>
        
        
        
        

      </div>
    </div>
  </div>
</div>


@@include('./layout/footer.html')