@@include('./layout/header.html', {
"title": "Luca Dimola - Folio"
})


<div class="full-wrapper">
  <div id="particles-js" class="background-particle" data-stellar-ratio="0.2" ></div>
  <div class="container-full" data-stellar-ratio="0.7" >
    <div class="container bottom-md top-md">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="row">
            <div class="col-md-12 top-xl bottom-xl">
              <h1 id="main-text" class="white">LUCA DIMOLA
                <span class="rotator">FRONTEND DEVELOPER - UI, UX DESIGNER - NEUROSCIENTIST</span>
              </h1>
              <h2>science feed & blog</h2>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <ul id="filters" class="nav nav-pills bottom-md">
                <li role="presentation" class="filter-all active" data-filter="*"><a href="#">all</a></li>
                <li role="presentation" class="filter-blog" data-filter=".blog"><a href="#">blog</a></li>
                <li role="presentation" class="filter-portfolio" data-filter=".portfolio"><a href="#">portfolio</a></li>
                <li role="presentation" class="filter-neuroscience" data-filter=".neuroscience, .brain"><a href="#">neuroscience</a></li>
                <li role="presentation" class="filter-math" data-filter=".math"><a href="#">math</a></li>
                <li role="presentation" class="filter-physic" data-filter=".physic"><a href="#">physic</a></li>
                <li role="presentation" class="filter-artificial-intelligence" data-filter=".artificial-intelligence"><a href="#">ai</a></li>
              </ul>
            </div>
          </div>

          <div class="row blog">

            <div class="col-md-4 col-sm-4 col-xs-12 grid-sizer item space physic math">
              <div class="blog-item">
                <div class="blog-image">
                  <div class="image" style=" background: url('https://d262ilb51hltx0.cloudfront.net/max/2000/1*97UBHRVScWVd5k4oGCQW9Q.png') no-repeat center center" ></div>
                </div>
                <div class="blog-content">
                  <h2><a href="https://medium.com/the-physics-arxiv-blog/first-simulated-images-of-two-black-holes-colliding-9be9cd5b8498">First Simulated Images of Two Black Holes Colliding</a></h2>
                  <p class="description">The equations of general relativity are so fiendish that nobody has been able to work out what a collision between two black holes would look like…until now</p>
                  <div class="row">
                    <div class="col-md-4">
                      <hr>
                    </div>
                  </div>
                  <p class="date">3 Nov 2014</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 item neuroscience consciousness">
              <div class="blog-item">
                <div class="blog-image">
                  <div class="image" style=" background: url('http://neuro.plos.org/files/2014/10/chennu.jpg') no-repeat center center" ></div>
                </div>
                <div class="blog-content">
                  <h2><a href="http://neuro.plos.org/2014/10/27/a-neuroscience-correlate-of-consciousness-neuroskeptic-talks-with-shivas-chennu-for-plos-neuro/">A Neuroscience Correlate of Consciousness</a></h2>
                  <p class="description">Neuroskeptic goes in-depth with Srivas Chennu</p>
                  <div class="row">
                    <div class="col-md-4">
                      <hr>
                    </div>
                  </div>
                  <ul class="list list-inline list-tags"><li class="neuroscience">neuroscience</li><li class="consciousness">consciousness</li></ul>
                  <p class="date">27 Oct 2014</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 item robotics artificial-intelligence">
              <div class="blog-item">
                <div class="blog-image">
                  <div class="image" style=" background: url('https://pbs.twimg.com/media/B0bEciUIUAAY5sL.jpg:large') no-repeat center center" ></div>
                </div>
                <div class="blog-content">
                  <h2><a href="http://www.theverge.com/2014/10/20/7024137/watch-a-self-driving-audi-become-the-fastest-autonomous-car-on-the-planet">The fastest autonomous car on the planet</a></h2>
                  <p class="description">Audi put a big exclamation point on its self-driving technology — "piloted driving," as the company calls it — with an adrenaline-filled demonstration..</p>
                  <div class="row">
                    <div class="col-md-4">
                      <hr>
                    </div>
                  </div>
                  <ul class="list list-inline list-tags"><li class="robotics">robotics</li><li class="artificial-intelligence">artificial intelligence</li></ul>
                  <p class="date">20 Oct 2014</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 item artificial-intelligence math">
              <div class="blog-item">
                <div class="blog-image">
                  <div class="image" style=" background: url('http://img.scoop.it/mqa5ovM30jVgIG29vHulmjl72eJkfbmt4t8yenImKBVvK0kTmF0xjctABnaLJIm9') no-repeat center center" ></div>
                </div>
                <div class="blog-content">
                  <h2><a href="http://www.theverge.com/2014/10/24/7056493/how-a-computer-error-helped-deep-blue-beat-humanitys-best-chess-player">How a computer error helped Deep Blue beat humanity's best chess player</a></h2>
                  <p class="description">When Deep Blue beat Garry Kasparov</p>
                  <div class="row">
                    <div class="col-md-4">
                      <hr>
                    </div>
                  </div>
                  <ul class="list list-inline list-tags"><li class="math">math</li><li class="artificial-intelligence">artificial intelligence</li></ul>
                  <p class="date">24 Oct 2014</p>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-12 item robotics artificial-intelligence math">
              <div class="blog-item">
                <div class="blog-image">
                  <div class="image" style=" background: url('http://www.blogcdn.com/www.engadget.com/media/2011/03/festo-smartbird-03252011.jpg') no-repeat center center" ></div>
                </div>
                <div class="blog-content">
                  <h2><a href="http://www.engadget.com/2011/03/25/festos-smartbird-robot-takes-off-with-elegance-doesnt-fight-s/">Festo's SmartBird robot takes off with elegance</a></h2>
                  <p class="description">The geniuses at Festo's Bionic Learning Network are well known for their fascination with robotic animals, and their latest creation is no exception...</p>
                  <div class="row">
                    <div class="col-md-4">
                      <hr>
                    </div>
                  </div>
                  <ul class="list list-inline list-tags"><li class="robotics">robotics</li><li class="artificial-intelligence">artificial-intelligence</li><li class="math">math</li></ul>
                  <p class="date">24 Oct 2014</p>
                </div>
              </div>
            </div>


          </div>
          
          <hr>
          
          
        </div>
      </div>
    </div>
  </div>
</div>




@@include('./layout/footer.html')