@@include('./layout/header.html', {
"title": "Luca Dimola - Folio"
})


<div class="full-wrapper">
  <div id="particles-js" class="background-particle" data-stellar-ratio="0.2"></div>
  <div class="container-full" data-stellar-ratio="1">
    <div class="container bottom-md top-md">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="row">
            <div class="col-md-12 top-xl bottom-xl">
              <h1 id="main-text" class="white">LUCA DIMOLA
                <span class="rotator">FRONTEND DEVELOPER - UI, UX DESIGNER - NEUROSCIENTIST</span>
              </h1>
              <h2>blog & public bookmarks</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ul id="filters" class="nav nav-pills bottom-md">
                <li role="presentation" class="filter-all active" data-filter="*"><a href="#">all</a>
                </li>
                <!--<li role="presentation" class="filter-blog" data-filter=".blog"><a href="#">blog</a></li>-->
                <!--<li role="presentation" class="filter-portfolio" data-filter=".portfolio"><a href="#">portfolio</a></li>-->
                <li role="presentation" class="filter-ted" data-filter=".ted"><a href="#">ted talks</a>
                </li>
                <li role="presentation" class="filter-neuroscience" data-filter=".neuroscience, .brain"><a href="#">neuroscience</a>
                </li>
                <li role="presentation" class="filter-math" data-filter=".math"><a href="#">math</a>
                </li>
                <li role="presentation" class="filter-physic" data-filter=".physic"><a href="#">physic</a>
                </li>
                <li role="presentation" class="filter-artificial-intelligence" data-filter=".artificial-intelligence"><a href="#">artificial intelligence</a>
                </li>
                <!--<li role="presentation" class="filter-design" data-filter=".design"><a href="#">design</a></li>-->
              </ul>
            </div>
          </div>

          
          
          <!-- blog starts -->
          
          <div class="row blog hidden">

            <div class="col-md-4 col-sm-4 col-xs-12 item portfolio experiment">
              <div class="blog-item">
                <div class="blog-header">
                  <div class="blog-image">
                  <div class="image-experiment0">
                    <img src="./assets/img/portfolio/juggling.gif" width="100">
                  </div>
                </div>
                  <!--<div class="btn blog-btn"><i class="fa fa-external-link-square"></i></div>-->
                </div>
                
                
                <div class="blog-content">
                  <h2><a href="http://codepen.io/hone/pen/Hhjuk">Experiment: Juggling CSS3 Animation</a></h2>
                  <p class="description">juggling-inspired preloader using css3 animation</p>
                  <div class="row">
                    <div class="col-md-4">
                      <hr>
                    </div>
                  </div>
                  <ul class="list list-inline list-tags">
                    <li class="portfolio">portfolio</li>
                    <li class="experiment">experiment</li>
                  </ul>
                  <p class="date">Dec 2013</p>
                  <a href="#!" class="btn btn-success" id="add">ADD</a>
                </div>
              </div>
            </div>

              
          </div>
          
          

              
          <p class="footer-text text-center">
            &copy; 2014 Luca Dimola, all rights reserved
          </p>


        </div>
      </div>
    </div>
  </div>
</div>


@@include('./layout/footer.html')